.project {
  width: 100%;
  padding: 72px 0 0 0;
  @include flex(column, center);

  @media (max-width: $screen-lg) {
    padding: 64px 0 0 0;
  }
}

.project__container {
  width: 100%;
  max-width: 1440px;
  padding: 40px 60px 0 60px;
  @include flex(column, center);

  @media (max-width: $screen-lg) {
    padding: 40px 40px 0 40px;
  }
}

.project__info {
  width: 100%;
  margin: 0 0 40px 0;
  @include flex(column);
}

.project__heading {
  margin: 0 0 16px 0;
  @extend %text-regular;
  font-size: 32px;
  line-height: 140%;
  color: $black;
}

.project__paragraph {
  margin: 0 0 8px 0;
  @extend %text-regular;
  font-size: 16px;
  line-height: 140%;
  color: $gray-darkest;
}

.project__subheading {
  margin: 0 8px 0 0;
  @extend %text-semibold;
  font-size: 16px;
  line-height: 140%;
  color: $black;
}

.project__detail {
  margin: 8px 0 0 20px;
  @extend %text-regular;
  font-size: 16px;
  line-height: 120%;
  color: $gray-darkest;
}

.project__gallery-container {
  position: relative;
  width: 100%;
  height: 0;
  padding: 50% 0 0 0;
}

.project__gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 12px;
}

.project__img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: linear 0.2s;

  &:hover {
    background-color: transparent;
  }
}

.project__img_big {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.project__min-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}